In [23]:
# import pandas as pd
import pandas as pd
 
# list of strings
intro = ['This', 'is', 'Dataframe', '.ipynb','for', 'Practical', '1']
 
# Calling DataFrame constructor on list
print(pd.DataFrame(intro))
#OR
# Create DataFrame
df = pd.DataFrame(intro)
print(df)
# Print the output.
print(df)

df

           0
0       This
1         is
2  Dataframe
3     .ipynb
4        for
5  Practical
6          1
           0
0       This
1         is
2  Dataframe
3     .ipynb
4        for
5  Practical
6          1
           0
0       This
1         is
2  Dataframe
3     .ipynb
4        for
5  Practical
6          1

           0
0       This
1         is
2  Dataframe
3     .ipynb
4        for
5  Practical
6          1

In [4]:
df

           0
0       This
1         is
2  Dataframe
3     .ipynb
4        for
5  Practical
6          1

In [13]:
import pandas as pd
data = [['Kishan',10],['Krima',11],['Nima',12],['Yagni',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0  Kishan   10
1   Krima   11
2    Nima   12
3   Yagni   13

In [14]:
import pandas as pd
data = [['Kishan',10],['Krima',11],['Nima',12],['Yagni',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0  Kishan  10.0
1   Krima  11.0
2    Nima  12.0
3   Yagni  13.0

In [25]:
import pandas as pd
data = {'Name':['Kishan','Krima','Nima','Yagni'],'Age':[15,21,19,20]}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

         Name  Age
rank1  Kishan   15
rank2   Krima   21
rank3    Nima   19
rank4   Yagni   20

In [27]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [32]:
# Dictionary of Series can be passed to form a DataFrame and Column Selection 
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [34]:
#Slice Rows
print (df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [36]:
#Addition of Rows
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [38]:
#Deletion of Rows
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)

# Drop rows with label 0
df = df.drop(0)

print(df)

   a  b
1  3  4
1  7  8